#V SCode
.vscode/
.history/

# Mac
.DS_store

# data
data_before/
data_after/
*.data
*.csv
*.zip
dataset/
data/

# runs
runs/

# iterrupted model
INTERRUPTED.pth

# __pycache__
__pycache__/
utils/__pycache__

# checkpoints
checkpoints/

# test
test.ipynb
test.py
Task3/code/3.2/3.2.1/sf-crime/test.csv
Task3/code/3.2/3.2.1/sf-crime/train.csv
Task3/code/3.2/3.2.1/afsis-soil-properties/final_answer.csv
