#VSCode
.vscode/
.history/

#Mac
.DS_store

#data
data_before/
data_after/
.data

#runs
runs/

#iterrupted model
INTERRUPTED.pth

#__pycache__
__pycache__/
utils/__pycache__

#checkpoints
checkpoints/